@using Company.Project.Web.Models;
@using System.Collections.Generic
@model IEnumerable<IEnumerable<EventModel>>


@{
    ViewBag.Title = "Home Page";
}

<div class="container text-center">
    @{
        <table class="table border">
            <thead>
            <th>Missed Events</th>
            <th>Upcoming Events</th>
            </thead>
            <tbody>
                <tr>
                    @foreach (var item in Model)
                    {
                        <td>
                            <ul>
                                @foreach (var evt in item)
                                {
                                    <li>@Html.ActionLink(@evt.Title, "ViewEvent", "ReadingEvent", new { @evt.EventId }, null)</li>
                                }
                            </ul>
                        </td>
                    }
                </tr>
            </tbody>
        </table>
        } 












    </div>
